@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Variables */
:root{
    --primary-font-family: 'Poppins', sans-serif;
    --light-white:#f5f8fa;
    --gray:#5e6278;
    --gray-1:#e3e3e3;
}
body{
    font-family: var(--primary-font-family);
    font-size: 14px;

}
.wrapper{
    padding: 0 0 100px;
    background-image: url("../images/bg.png");
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100%;
}
.wrapper .logo img{
    max-width: 45%;
}
.wrapper input{
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--gray);
}
.wrapper .selected{
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--gray);
}
.wrapper .selected:focus{
    box-shadow: none;
}
.wrapper input:focus{
    box-shadow: none;
}
.wrapper .password-info{
    font-size: 10px;
}
.wrapper .submit_btn{
    padding: 10px 15px;
    font-weight:500;
}
.wrapper .login-with{
    padding:8px 15px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.wrapper .submit_btn:focus,
.wrapper .login_with:focus{
    box-shadow: none;

}
.wrapper .login_with img{
    max-width:7%;
}
.wrapper .check{
    border-color:blue;
}