.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 3%;
    width: 300px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;

}
.sub-menu-wrap.open-menu{
    max-height: 400px;

}
.sub-menu{
    background: rgba(0,0,0,0.9);
    padding-top:20px;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
    color: #ffff;
}
.user-info img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #cccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background: transparent;
    /* border-radius: 50%; */
    filter: invert(1);
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}