@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");

/* Reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}
/*for header*/

.mycontainer {
    background-color: #252525;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
}
.logoimg {
    margin-left: 12rem;
    margin-top: 2px;
}
.myheader {
    margin-left: 20rem;
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
}
.myfooter {
    background-color: #252525;
    width: 100%;
    height: 40px;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
}
/* Main content styles */
#main-content {
    padding: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    /* height: 40rem; */
}

#main-content .h5 {
    font-weight: 600;
    margin-bottom: 0;
    color: #404040;
}

#main-content .h5 + div {
    font-size: 0.9rem;
    color: #808080;
    margin-bottom: 20px;
}

/* Sidebar styles */
#sidebar {
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    background-color: #404040;
    color: #ffffff;
}

#sidebar .h4 {
    font-weight: 500;
    padding-left: 15px;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding-left: 0rem;
}

#sidebar ul li {
    padding: 10px 0;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 5px solid transparent;
}

#sidebar ul .active {
    border-left: 5px solid #ff5252;
    background-color: #55009b;
}
#sidebar ul li:hover {
    border-left: 5px solid #ff5252;
    background-color: #55009b;
}

#sidebar ul li a {
    display: block;
    color: #ffffff;
}

#sidebar ul li a .fas,
#sidebar ul li a .far {
    color: #ddd;
}

#sidebar ul li a .link {
    color: #ffffff;
    font-weight: 500;
}

#sidebar ul li a .link-desc {
    font-size: 0.8rem;
    color: #ddd;
}
.account-section-wrap {
    display: none;
}
.account-section-wrap.enable {
    display: block;
}
.order-section-wrap {
    display: none;
}
.order-section-wrap.enable {
    display: block;
}
.return-section-wrap {
    display: none;
}
.return-section-wrap.enable {
    display: block;
}

/* Account Details */
.placeholder-text {
    color: gray;
    font-weight: 300;
    font-size: 14px;
}

.row .detail-value {
    font-weight: 600;
}

.my-button {
    /* padding: 10px; */
    width: 300px;
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.my-button:hover {
    background-color: #2980b9;
}

.user-info {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.user-info img {
    width: 60px;
    margin-right: 1rem;
    border-radius: 50%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 2rem;
}
.ProductDetail {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.order-content-detail{
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 5px;
    width: 98%;
    margin-left: 10px;
    margin-bottom: 20px;
}
.line{
    border: 1px solid black;
    width: 150px;
    margin-bottom: 10px;}
.verify{
    padding: 5px;
    background-color: #FFC107;
    color: white;
    display: block;
    border-radius: 7px;
    height: 38px;
    width: 156px;
}
.approve{
    padding: 5px;
    background-color: #28A745;
    color: white;
    display: block;
    border-radius: 7px;
    height: 38px;
    width: 156px;
}
.rejected{
    padding: 5px;
    background-color: red;
    color: white;
    display: block;
    border-radius: 7px;
    height: 38px;
    width: 156px;
}
.sub-menu-tab{
    display: none;
}
/* Responsive styles */
@media (max-width: 767px) {
    #sidebar {
        margin-bottom: 30px;
    }

    #main-content {
        margin-bottom: 30px;
    }
}
